@use "../Vars" as *;

// --- Header --- //
header {
  padding: 3rem 0;

  .theme-toggle,
  .lines {
    border: 0;
    color: $text;
  }

  @include respond-to(xsmall) {
    padding: 1.5rem 0;
  }

  .container {
    @include flex();
    position: relative;

    @include respond-to(xsmall) {
      justify-content: end;
    }

    nav {
      @include flex(1rem);
      transition: 0.8s ease-in-out;

      @include respond-to(xsmall) {
        @include flex(1rem, column);
        position: absolute;
        top: -1.5rem;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;
        background: $white;
        transform: translateX(100%);
        transition: all $transition;
      }

      &.open {
        transform: translateX(0);
      }

      .category {
        cursor: pointer;
      }
    }

    .lines {
      position: relative;
      @include flex(0.3rem, column);
      display: none;
      cursor: pointer;
      height: 35px;
      width: 35px;
      z-index: 999;

      @include respond-to(xsmall) {
        display: flex;
      }

      .line {
        display: block;
        height: 4px;
        width: 100%;
        background-color: $text;
        border-radius: 10px;
        position: absolute;
        transition: all 0.25s ease-in-out;
        transform: rotate(0deg);

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 10px;
          left: 0;
        }

        &:nth-child(3) {
          top: 20px;
        }
      }

      &.active {
        .line:nth-child(1) {
          top: 15px;
          transform: rotate(135deg);
        }

        .line:nth-child(2) {
          left: -20px;
          opacity: 0;
        }

        .line:nth-child(3) {
          top: 15px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

